@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.nav{
    height: 87px;
    width: 100%;
    background-color: #003CD7;
    flex: 5;
    justify-content: flex-start;
    align-content: center;
}

.nav img{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-flex;
}

.navigation{
    display:inline-flex;
    padding-left: 25px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.navigation-2{
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
    padding: auto;
}

.btn{
    color: #003CD7;
    background-color: #B6E5FF;
    font: 600 15px 'Montserrat', sans-serif;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    margin: 17px;
    margin-left: 25px;
    cursor: pointer;
}

li{
    display: inline;
    text-align: right;
}

.aside{
    float: left;
    flex: 1;
    inset: 20px 0 20px 20px;
    background-color:  #1FAEFF;
    width: 78px;
    height: 100vh;
}

.aside.buka {
    width: 200px;
  }

.aside .sidebar-sisi img{
    cursor: pointer;
    padding: 15px 23px;
    align-items: center;
}

.sidebar-sisi img{
    margin: 5px 0px 0px 0px;
}
.aside .sidebar-sisi img::before {
    position: absolute;
    width: 30px;
    height: 2px;
    transform: translateY(-8px);
    transition: 0.5s;
}

.aside.buka .sidebar-sisi img::before {
    transform: translateY(0) rotate(45deg);
}

.aside .sidebar-sisi img::after {
    position: absolute;
    width: 30px;
    height: 2px;
    transform: translateY(8px);
    transition: 0.5s;
}
  
.aside.buka .sidebar-sisi img::after {
    transform: translateY(0) rotate(-45deg);
    box-shadow: none;
}
.sidebar-sisi hr{
    margin: 0px 10px 0px 10px;
    color:#B6E5FF;
}
.list{
    margin-top: 20px;
}
.teks{
    font: 600 18px 'Montserrat', sans-serif;
}
.aside ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.aside ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}

.aside ul li.aktif {
    transform: translateX(30px);
}
  
.aside.buka ul li.aktif {
    transform: translateX(10px);
}
  
.aside ul li a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.aside ul li a .ikon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px; 
    transition: 0.5s;
}

.aside ul li.aktif a .ikon {
    color: #fff;

}

.aside ul li.aktif a .ikon::before {
    opacity: 0.5;
}
  
  .aside ul li a .teks{
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
  
.aside.buka ul li a .teks {
    opacity: 1;
    visibility: visible;
}

.icon {
	cursor: pointer;
	margin-right: 10px;
	line-height: 50px;
}
.icon span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.icon img {
	display: inline-block;
	width: 30px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}

.logo {
	flex: 1;
	margin-left: 50px;
	color: #eee;
	font-size: 20px;
	font-family: monospace;
}

.notifi-box {
	width: 300px;
	height: 0px;
	opacity: 0;
	position: absolute;
	top: 78px;
	right: 15px;
    background-color: #fff;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifi-box h2 {
	font: italic 600 16px 'Montserrat', sans-serif;
	padding: 10px;
	border-bottom: 1px solid rgb(0, 0, 0);
	color: #2C2727;
    ;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-item p {
	font: italic 600 14px 'Montserrat', sans-serif;
}

.notifi-item .sudahdibaca {
	padding-left: 40px;
	display: flex;
    color:#262121B2;

}
.belumdibaca{
	display: flex;
	margin-right: 20px;
    color: #003CD7;
}
.notifi-item .belumdibaca img{
	width: 12px;
	height: 11px;
	margin-bottom: 10px;
}
.notifi-item p1 {
	color: #262121B2;
	margin-left: 40px;
	font: italic 200 12px 'Montserrat', sans-serif;
}

.notifi-item {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}

.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.hapusriwayat{
	text-align: center;
}

.hapus{
	font: italic 600 15px 'Montserrat', sans-serif;
	width: 250px;
	height: 20px;
	cursor: pointer;
    border: none;
}

.container{
    display: flex;
    padding: 35px;
}

.content{
    background-color:#B6E5FF;
    width: 100%;
    height: 90vh;
    padding: 10px;
    display: flex;
    flex: 2;
    font-family: 'Montserrat', sans-serif;
}

.content img{
    padding: 30px 50px 10px 50px;
    margin: 0px 40px 0px 30px;
}

.user{
    font: italic 700 22px 'Montserrat', sans-serif;
    color: #262121;
    margin-top: 38px;
    text-align: center;
}

.name{
    font: italic 500 18px 'Montserrat', sans-serif;
    color: #262121E5;
    margin-top: 15px;
    text-align: center;

}

.judul{
    padding-top: 38px;
    font: italic 700 22px 'Montserrat', sans-serif;
    color: #262121;
}

.judul label{
    font: italic 600 18px 'Montserrat', sans-serif;
    color:  #2C2727;
}

.judul input{
    width: 645px;
    height: 33px;
    margin: 3px 0px 10px 0px;
    font: 400 italic 16px 'Montserrat', sans-serif;
    border: none;
    border-radius: 7px;
}

.perbutton{
    margin-left: 65px;
    display: flex;
    flex: 2;
    align-items: flex-end;
    padding-bottom: 30px;
}

.tombol{
    border-radius: 10px;
    width: 113px;
    height: 36px;
    font: italic 500 18px 'Montserrat', sans-serif;
    color: #FFFFFF;
    background-color: #1355FF;
    margin-right: 20px;
    cursor: pointer;
}